body {
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    /* background-color: #407dc3; */
    /* background: linear-gradient(#1A63B7, #0e4f99); */
    background: linear-gradient(#0e4f99 0%, #1A63B7 25%, green 75%, blue 100%);;
    color: white;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#heading {
    background-color: #1A63B7;
    color: white;
    padding: 10px 20px;
    margin: 0px 0 35px 0;
}

/* #heading:hover {
    background-color: #1A63B7;
} */

#img {
    height: 200px;
    width: 200px;
    border: 6px solid #00b4d8;
    border-radius: 50%;

}

.gifts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px 0;
}

#bday-age {
    background-color: #00b4d8;
    padding: 6px 12px;
    border-radius: 5px;
}

#bday-date {
    margin: 0;
    background-color: #00b4d8;
    padding: 6px 12px;
    border-radius: 5px;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin: 0 0 10px 0;
}

.gift-hint {
    
}

.gift-img-1 {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("images/bd-box1.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 20px;
}

.gift-img-2 {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("images/bd-box2.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 20px;
}

.gift-img-3 {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("images/bd-box3.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 20px;
}

.gift-img-4 {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("images/bd-box4.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 20px;
}

.gift-img-5 {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("images/bd-box5.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 20px;
}


#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    background-color: #1A63B7;
    color: white;
    padding: 0.5px;
    margin: 35px 0 0 0;
}

#footer-link {
    color: white;
    text-decoration: none;
}

#footer-link:hover {
    color: #edcf0e;
    text-decoration: none;
    font-weight: bold;
}